html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(187, 187, 187);
    padding: 0%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.separadorLista{
    margin-left: 20px;
}

.separado{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.separado-abajo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.fondoBlanco{
    background-color: white;
}

.imagen{
    float: left;
    margin-right: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 180, 180);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.colo-cele{background-color: rgb(197, 228, 255);}

.colo-marro{background-color: rgb(250, 204, 167);}